<mat-nav-list>
    <!--https://material.angular.io/components/list/overview-->
    <mat-list-item>
        <mat-icon>home</mat-icon>
        <span></span>
        <a [routerLink]="['/home']">Deals</a>
    </mat-list-item>
    <mat-list-item>
        <mat-icon>email</mat-icon>
        <span></span>
        <a [routerLink]="['/about']">Mail</a>
    </mat-list-item>
    <mat-list-item>
        <mat-icon>home</mat-icon>
        <span></span>
        <a [routerLink]="['/contact']">Activity</a>
    </mat-list-item>
    <mat-list-item style="background:#1a5c96">
        <mat-icon>contacts</mat-icon>
        <span></span>
        <a [matMenuTriggerFor]="menu">Contact</a>
    </mat-list-item>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>People</button>
      <span></span>
      <button  [routerLink]="['/apps/organizations']" mat-menu-item>Organization</button>
    </mat-menu>
        <mat-list-item>
            <mat-icon>trending_up</mat-icon>
            <span></span>
        <a [routerLink]="['/contact']">Progress</a>
    </mat-list-item>
</mat-nav-list>