 <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
	<div class="row">
		<div class="col-md-offset-2 col-md-5 col-lg-offset-3  login">
    	 <div class="well profile">
            <div class="col-sm-12">
                <div class="col-xs-12 col-sm-8">
                    <h2>John Pearson</h2>
                   <br><hr>
                    <p><strong>Email: </strong> john@gmail.com </p>
                    <hr>
                    <p><strong>Last-login: </strong> 2 hours ago. </p>
                    <hr>
                    <a href="#">Edit Profile</a>
                    <br><br>
                    <hr>
                    <a href="#">Dashboard</a>
                    <br><br>                   
                </div>             
                <div class="col-xs-12 col-sm-4 text-center">                    
                </div>
            </div>            
            <div class="col-xs-12 divider text-center">
                <div class="col-xs-12 col-sm-4 emphasis">                                       
                    <button class="btn btn-success btn-block"><span class="fa fa-plus-circle"></span> Followers </button>
                </div>                
            </div>
    	 </div>                 
    </div> 

    <!-- Tabs Code Starts here -->
		 <div class="col-md-offset-2 col-md-7 col-lg-offset-3  tabs">
        <div class="well profile">
             
             <main>
              
              <input id="tab1" type="radio" name="tabs" checked>
              <label for="tab1">Updates</label>
                
              <input id="tab2" type="radio" name="tabs">
              <label for="tab2">Activities</label>
                
              <input id="tab3" type="radio" name="tabs">
              <label for="tab3">Following</label>
                
             
                
              <section id="content1">
                  updated
               </section>
                
              <section id="content2">
            activities   
            </section>
                
              <section id="content3">
            Following   
            </section>
                          
            </main>
          </div>                 
     </div>
	</div>
</div> 

