<mat-card>
    <mat-card-content class="flex-space-between">
      <button mat-raised-button color="primary" (click)="openDialog()" style="height:40px;">Add organizarion</button>
      <div style="width:20%;float: left;">
        <mat-form-field>
            <mat-select placeholder="Select Pipeline" >
              <mat-option *ngFor="let pipe of piplines" (click)="changePipeline(pipe.id)" value="{{pipe.id}}">{{pipe.name}}</mat-option>
            </mat-select>
          </mat-form-field>
    </div>
    </mat-card-content>
</mat-card>
<div fxLayout="row" fxLayoutWrap="wrap">
    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content> 
                <div class="table-rasponsive">
                    <mat-table #table [dataSource]="dataSource">

                    <!-- Position Column -->
                    <ng-container matColumnDef="position">
                      <mat-header-cell *matHeaderCellDef>  <mat-checkbox></mat-checkbox> </mat-header-cell>
                      <mat-cell *matCellDef="let element">  <mat-checkbox></mat-checkbox></mat-cell>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="weight">
                      <mat-header-cell *matHeaderCellDef> Weight </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.weight}} </mat-cell>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="symbol">
                      <mat-header-cell *matHeaderCellDef> Symbol </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.symbol}} </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                  </mat-table>

                  <mat-paginator #paginator
                                 [pageSize]="10"
                                 [pageSizeOptions]="[5, 10, 20]">
                  </mat-paginator>
                </div>    
            </mat-card-content>
        </mat-card>
    </div>
</div>